<html>
<head>
	<title>Mastermind</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<!-- <h3><%= code %></h3> -->
	
	<div class="col-md-12">
		<div class="col-md-4">
		
		<% win = false %>
		<% if one %>
			<% if exact == code.length %>
			<% win = true %>
				</div>
				<div class="col-md-4">
					<div class="page-header">
						 <h2>You won in <%=tries%> turns!!</h2>
					</div>
				 <form method="get" action="/">
				 	<input type="submit" value="Play Again" name="win" class="btn btn-md btn-default">
				 </form>
				</div>
				<div class="col-md-4"></div>
			<% else %>
			<h2>guesses: <%= tries %></h2>
			<h2>correct: <%= exact %></h2>
			
			<h1>Previous Guesses: </h1>
			<% which = 0 %>
			<% guesses.each_with_index do |i, index| %>
				<% which+=1 %>
				<% if (index + 1)%4 == 0 && guesses[(which - 4)...which].length > 0 %>
					<h4><%= (index + 1)/4 %>: <%= guesses[(which - 4)...which].join("-") %></h4>
				<% end %>
			<% end %>

			
			
				<%end%>
		<%end%>
		<% if !win %>
		</div>
		<div class="col-md-4">
		<form method="post" action="/guess">
			<% if !one %>
				
				<div class="page-header">
					<h2>Make a guess</h2>
				</div>
				
			<% else %>
				<div class="page-header">
				<h2>You guessed:</h2>
			<h2><%= zero.to_s+' '+one.to_s+' '+two.to_s+' '+three.to_s %></h2>
				</div>
			<% end %>
			<div class="form-group">
				<select name="0" class="btn btn-md btn-default">
					<option value="1">Blue</option>
					<option value="2">Red</option>
					<option value="3">Purple</option>
					<option value="4">Green</option>
					<option value="5">Yellow</option>
				</select>
				
				<select name="1" class="btn btn-md btn-default">
					<option value="1">Blue</option>
					<option value="2">Red</option>
					<option value="3">Purple</option>
					<option value="4">Green</option>
					<option value="5">Yellow</option>
				</select>
				
				<select name="2" class="btn btn-md btn-default">
					<option value="1">Blue</option>
					<option value="2">Red</option>
					<option value="3">Purple</option>
					<option value="4">Green</option>
					<option value="5">Yellow</option>
				</select>
				
				<select name="3" class="btn btn-md btn-default">
					<option value="1">Blue</option>
					<option value="2">Red</option>
					<option value="3">Purple</option>
					<option value="4">Green</option>
					<option value="5">Yellow</option>
				</select>
				<% if defined? guesses %>
					<input type="hidden" name="guesses" value="">
				<% end %>
				<input type="submit" class="btn btn-md btn-default">
				<% if one %>
					<h4><% if wordResponse[0] %>
							<%= wordResponse[0] %> &ensp;&emsp;|
						<% else %>
							&emsp;wrong &ensp;&emsp;|
						<% end %>
						<% if wordResponse[1] %>
							<%= wordResponse[1] %> &ensp;&emsp;|
						<% else %>
							&emsp;wrong &ensp;&emsp;|
						<% end %>
						<% if wordResponse[2] %>
							<%= wordResponse[2] %> &ensp;&emsp;|
						<% else %>
							&emsp;wrong &ensp;&emsp;|
						<% end %>
						<% if wordResponse[3] %>
							<%= wordResponse[3] %> 
						<% else %>
							&emsp;wrong
						<% end %>
					</h4>
				<% end %>
			</div>
		</form>
		<hr>
		<%end%>
	</div>
	<div class="col-md-4">

	</div>
</div>
</body>
</html>



<!-- Hello,
My name is Kaela Johnson. I am a self taught web developer and I think I could be an asset in this position.

I love building useful tools and adopting any technologies I need to help me do so. I'm the type of person who will volunteer for work outside of my comfort zone so I don't feel like I'm stagnating, and I have a drive to understand how everything I interact with works. I love working with people to come up with solutions to every problem I'm made aware of, especially when I get to build something complex that solves many problems at once.

At my current job I started with very little knowledge of PHP but I quickly figured it out and got more responsibilities and bigger projects. A project I finished earlier this year replaced a 3rd party marketplace service we were using and it is now saving the company over $2,000 a month without losing any of the functions we used. This project required a lot of research into the handful of APIs I needed as well as understanding how to make it work with our systems (which are so legacy that nobody really knows what's working, how or why). I also needed to work with the employees that would be working with my program to make sure it met all of their needs. 

If given the opportunity, I would love to be able to provide my value and passion in this position. -->